[Unit]
Description=nginx
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker rm service-nginx
ExecStart=/usr/bin/docker run -p 80:80 -p 443:443 --name=service-nginx nginx
ExecStop=/usr/bin/docker stop -t 2 service-nginx

[Install]
WantedBy=multi-user.target
